.contents{
    width: 530px;
    margin: 0px auto;
}
.contents{
    width: 530px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
#one{
    grid-column: 1/3;
    grid-row: 1/2;
}
#eight{
    grid-column: 1/3;
    grid-row: 4/5;
}
#four{
    grid-row: 1/4;
}
#five{
    grid-column: 1/2;
    grid-row: 3/5;
}
#nine{
    grid-column: 3/4;
    grid-row: 4/5; 
}
